<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pTricKg.AndroidPractice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.pTricKg.AndroidPractice.ListMain"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pTricKg.AndroidPractice.ListSQL"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pTricKg.AndroidPractice.ServiceMain"
            android:label="@string/service_main" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
            </intent-filter>
        </activity>
        <activity
            android:name="com.pTricKg.AndroidPractice.IntentServiceMain"
            android:label="@string/intent_service" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" >
                </action>
            </intent-filter>
        </activity>

        <service android:name="com.pTricKg.AndroidPractice.SimpleService" >
        </service>
        <service android:name="com.pTricKg.AndroidPractice.Sleeper" >
        </service>
    </application>

</manifest>